{% extends 'base.html' %}
{% load my_feat %}
{% block body %}

        <div class="card mt-4">
          <div class="row">

          <div class="col-lg-6 col-md-6 ">
          <img class="card-img-top img-fluid" width="100" height="100" src="{{item.picture_changed.url}}" alt="#">
          </div>

          <div class="col-lg-6 col-md-6 ">
            <br>
            <h4>₴ {{item.price}}</h4>
            <!-- stars----------------- -->
            {% if item.rate_set.count != 0 %}
            {% for hal in item|stars %}
              {% if hal|length == 5 %}
            <span class="text-warning">

                {% for i in hal %}
                  &#{{i}};
                {% endfor %}
            </span>
            {% else %}
              {{hal}} votes
            {% endif %}
            {% endfor %}
            {% else %}
            <span class="text-warning">
              &#9734;&#9734;&#9734;&#9734;&#9734;
            </span>
            {% endif %}
            <!-- stars-------------- -->
            <!-- like -->
            <hr>
            {% if user in item.like.all %}
            <a href="{% url 'unlike' pk=item.pk %}">
            <svg class="bi bi-heart-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="green" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
            </svg>
            </a>
            {% else %}
            <a href="{% url 'like' pk=item.pk %}">
            <svg class="bi bi-heart" width="2em" height="2em" viewBox="0 0 16 16" fill="green" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>
            </svg>
            </a>
            {% endif %}
            <!-- like -->
            <hr>
            {% if item.quantity == 0 %}
            <p style="color:red">Not available</p>
            {% else %}
              {% if item.quantity > 5 %}
                <p style="color:green">Available</p>
              {% else %}
                <p style="color:brown">Few available</p>
              {% endif %}
            {% endif %}
            <!-- buy or cart -->
            <hr>
            {% if item.pk|slugify in request.session.items %}
            <a href="{% url 'cart'%}">
            <button  type="button" class="btn btn-outline-warning"> <b>CART</b> </button>
            </a>
            {% else %}
            <a href="{% url 'addtocart' pk=item.pk %}">
            <button  type="button" class="btn btn-outline-success"> <b>BUY</b> </button>
            </a>
            {% endif %}
            <!-- buy or cart -->


          </div>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{ item.name}}</h3>

          </div>
        </div>
        <!-- /.card -->
        <hr>
        <!-- Description------------------- -->
        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product description
          </div>
          <div class="card-body">
            <p>{{item.text}}</p>
          </div>
        </div>
        <hr>
        <!-- Review------------ -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
          {% for comment in item.comment_set.all%}
            <p>{{comment.text}}</p>
            <small class="text-muted">Posted by <b> {{comment.user.username}}</b> on {{comment.creat_date}}</small>
            <hr>
          {% empty %}
          <h3>No comments!</h3>
          {% endfor %}
            <a href="{% url 'ratecomment' pk=item.pk %}" class="btn btn-success">Leave a Review</a>
          </div>
        </div>
        <!-- /.card -->



{% endblock %}
