{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}

<div class="card text-center">
  <div class="card-header">
    <h2> Reset password</h2>
  </div>
  <div class="card-body">
  <div class="row ">
    <div class="col-lg-6  mx-auto">
      <form   method="post">
        {% csrf_token %}
        {% bootstrap_form form show_help=False %}
        <button type="submit" name="button" class="btn btn-outline-success mx-auto " >send an e-mail</button>
      </form>
    </div>
  </div>
</div>

</div>
{% endblock %}
